.App {
  text-align: center;
}

.menu {
  background-color: rgb(128, 128, 128);
  width: 20%;
  text-align: left;
  position: fixed;
  height: 100%;
  list-style: none;
  left: -100%;
  transition: 0.3s;
}

.activeMenu {
  left: 0%;
}

.menu ul li {
  list-style: none;
  color: white;
  padding: 10px 0px;
  font-size: larger;
}

.menuOpenBtn {
  position: fixed;
  left: 1px;
  margin-top: 5px;
}

.menuCloseBtn {
  width: 30px;
  height: 30px;
  margin-top: 5px;
}